{% extends 'base.html.twig' %}

{% block body %}
<div class="alert alert-success mt-5 w-50 mx-auto">
    <h2>Page not found !</h2>
    <div>
        <a href="{{path('app_fighter_index')}}" class="btn btn-warning mt-3">Go back to index</a>
    </div>
</div>
{% endblock %}